@model IntranetApplication.Models.DashboardItem.DashItemScrap
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "ImageHtmlScrapping";
}


<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">


<h2>Image Html Scrapping</h2>


<div class="container">
    <br />
    <br />
    <form method="post">
        <div class="row">
            <div class="col-md-4">
                <h3>Create Item Id: @Model.DashboardID</h3>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                
                <!-- hidden items for editing -->
                <div class="form-group">
                    <input type="hidden" asp-for="DashboardID" value="@Model.DashboardID" />
                </div>
                <div class="form-group">
                    <input type="hidden" asp-for="DashboardItemID" value="@Model.DashboardItemID" />
                </div>
                <div class="form-group">
                    <input type="hidden" asp-for="DashboardItemStatusID" value="@Model.DashboardItemStatusID" />
                </div>
                <div class="form-group">
                    <input type="hidden" asp-for="DashboardTypeID" value="@Model.DashboardTypeID" />
                </div>
                <div class="form-group">
                    <input type="hidden" asp-for="SortOrder" value="@Model.SortOrder" />
                </div>
                <!-------------------------------->

                <div class="form-group">
                    <label for="Title">Title</label>
                    <input asp-for="Title" id="Title" type="text" class="form-control" placeholder="" />
                </div>
                <div class="form-group">
                    <label for="StartTime">Start time</label>
                    <input asp-for="StartDateTime" id="StartTime" type="datetime-local" min="@DateTime.Today.ToString("yyyy-MM-ddThh:mm")" value="@DateTime.Today.ToString("yyyy-MM-ddThh:mm")" class="form-control" placeholder="" />
                </div>
                <div class="form-group">
                    <label for="EndTime"> End time</label>
                    <input asp-for="EndDateTime" id="EndTime" type="datetime-local" min="@DateTime.Today.ToString("yyyy-MM-ddThh:mm")" value="@DateTime.Today.ToString("yyyy-MM-ddThh:mm")" class="form-control" placeholder="" />
                </div>
                <div class="form-group">
                    <label> click thru URL</label>
                    <input asp-for="ClickThruURL" type="text"class="form-control" placeholder=""/>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-default">Add/Save changes</button>
                </div>

            </div>
            <div class="col-md-5">
                <div id="HtmlScrappingInput">
                    <img id="preview" src="@Model.ImageURI" alt="preview image" accept="image/*" style="max-width: 400px" />
                    <input type="hidden" asp-for="ImageURI" value="@Model.ImageURI"/>
                    <div class="form-group">
                        <label>Source Url</label>
                        <input asp-for="SourceURL" type="text" class="form-control" placeholder=""/>
                    </div>
                    <div class="form-group">
                        <label>Css Selector</label>
                        <input asp-for="CssSelector" type="text" class="form-control" placeholder=""/>
                    </div>
                    <div class="form-group">
                        <label>User Name To use</label>
                        <input asp-for="LogonUser" type="text" class="form-control" placeholder="" />
                    </div>
                    <div class="form-group">
                        <label>Password to Use</label>
                        <input asp-for="LogonPwd" type="text" class="form-control" placeholder="" />
                    </div>                 
                    <button id="TestScrappingBtn" class="btn btn-default">Test image scrapping</button>
                    <h6 id="testingMessage"></h6>
                </div>
            </div>
        </div>
    </form>
</div>

<script>
    document.getElementById("TestScrappingBtn").addEventListener("click", (e) => {
        e.preventDefault();

        var url = document.getElementById("SourceURL").value.toString();
        var selector = document.getElementById("CssSelector").value.toString();
        var userName = document.getElementById("LogonUser").value.toString();
        var password = document.getElementById("LogonPwd").value.toString();

        document.getElementById("testingMessage").innerHTML = "Testing started, this may take about 10 seconds.";
        document.body.style.cursor = "wait";

        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
            if (this.readyState === 4 && this.status === 200) {

                document.getElementById("preview").src = JSON.parse(this.responseText);
                document.body.style.cursor = "default";
                document.getElementById("testingMessage").innerHTML = "Testing Completed";
            }
        };

        xhttp.open("POST", "/DashboardForms/TestImage", true);
        xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        var info = "url=" + url + "&selector=" +selector + "&userName=" + userName + "&password=" + password;
        xhttp.send(info);

    });



</script>

